.flex-container{
    width: 100%;
    display: flex;
    flex: wrap;
    .column{
        flex: 33%;
        img{
            max-width: 100%;

        }
        }
    }

.main-content{
    padding: 0 ;
    padding-left: 1em;
    padding-right: 1em;
}