header{
    width: 100%;
    padding: 1.3em 0em;
    margin-bottom: 5em;
    nav{
        width: 90%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        img{
            width: 130px;
        }
        .search{
            display: flex;
            width: 40%;
            input{
                height: 46px;
                width: 100%;
                opacity: .7;
                border-style: none;
                border-radius: .2em;

            }
        }

    }
    
}